.section.capabilities.columns-container .columns-wrapper .columns.block.columns-10-cols .columns-img-col picture img {
    height: 25px;
    width: 25px;
}

.section.capabilities.columns-container .columns-wrapper .columns.block.columns-10-cols > div > div > h2 {
    font-size: 18px;
    line-height: 18px;
    color : #1c72d9
}

.section.capabilities.columns-container .columns-wrapper .columns.block.columns-10-cols{
    
    display: flex;
    flex-direction: column;
    
}

.section.capabilities.columns-container .columns-wrapper .columns.block.columns-10-cols .button-container p a {
    
    margin: 0px;
    background-color: transparent;
    padding: 2px;
    text-align: left;
    font-size: 12px;
    color: black !important;
}

.section.capabilities.columns-container .columns-wrapper .columns.block.columns-10-cols .button-container p  :hover {
    
    margin: 0px;
    background-color: transparent !important;
    padding: 0px;
    text-align: left;
    font-size: 15px;
    color: black !important;
    line-height: 12px;
    padding: 2px;
}

.section.megamenufooter.columns-container{
    background-color: #f6cc28;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section.megamenufooter.columns-container .columns-wrapper .columns.block.columns-2-cols > div {
    display: flex; /* Flex for the child container */
    align-items: center;
    flex-direction: row; /* Ensure items are in a row */
    gap: 24px; /* Add spacing between items */
    justify-content: space-between; /* Spread items across the container */
    width: 1050px; /* Ensure full width */
    
}

.section.megamenufooter.columns-container .columns-wrapper .columns.block.columns-2-cols > div > div h3{
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.section.megamenufooter.columns-container .columns-wrapper .columns.block.columns-2-cols > div > div p{
    color: black;
    font-size: 15px;
    
}
